.imgWrap {
  width: 350px;
  height: 350px;
  overflow: hidden;
  @media (min-width: 768px) {
    width: 600px;
    height: 600px;
  }
}

.imgWrap > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.outer {
  position: relative;
}

.btn {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  border: none;
  background-color: rgba(135, 135, 135, 0.528);
  cursor: pointer;
  font-size: 1.25em;
  width: 40px;
  text-align: center;
  color: rgb(62, 62, 62);
  height: 100%;
}

.btnLeft {
  right: 0;
}
